<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MackySoft.Navigathena" version="2.0.0-preview.1" targetFramework="netstandard2.1" />
  <package id="MackySoft.Navigathena.MicrosoftDI" version="2.0.0-preview.1" targetFramework="netstandard2.1" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" />
</packages>
