.navigathena-view-hidden {
    display: none;
}

.navigathena-input-scope {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: transparent;
}

.navigathena-input-scope-content,
.navigathena-view-content {
    flex-grow: 1;
    flex-shrink: 1;
}
